body {
  margin: 30px 5%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.exercicio-14 {
  display: grid;
  gap: 10px;
  background-color: antiquewhite;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  padding: 15px;
  border-radius: 4px;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  & div {
    padding: 10px;
    gap: 10px;
    background-color: coral;
    height: 70px;
    width: 70px;
  }
}

.exercicio-15 {
  display: grid;
  gap: 40px;
  background-color: antiquewhite;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & :first-child {
    grid-column: span 2;
  }
  & :nth-child(2) {
    grid-row: span 2;
  }
  & div {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

.exercicio-16 {
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  display: grid;
  gap: 30px;
  background-color: antiquewhite;
  padding: 25px;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & div {
        display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background-color: coral;
    min-height:  100%;
    width:  100%;
  }
}
