body {
  margin: 0px 5%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.exercicio-6 {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: flex-start;
  & div{
    background-color: coral;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.exercicio-7 {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: flex-end;
  & div{
    background-color: coral;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.exercicio-8 {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  & div{
    background-color: coral;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.exercicio-9 {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: space-between;
  & div{
    background-color: coral;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}
