body {
  margin: 0px 5%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.exercicio-12 {
  display: flex;
  gap: 10px;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  & div{
    padding: 10px;
    gap: 10px;
    background-color: coral;
    height: 100px;
    width: 100px;
  }
}

.exercicio-13 {
  display: flex;
  gap: 10px;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  & div{
    padding: 10px;
    gap: 10px;
    background-color: coral;
    height: 100px;
    width: 100px;
  }
}