body {
  margin: 0px 10%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
}

.exercicio-03-container, .exercicio-04-container, .exercicio-05-container {
  display: flex;
  gap: 10px;
}

.red3 {
  background-color: red;
  height: 100px;
  flex-grow: 2;
}
.blue3 {
  background-color: blue;
  height: 100px;
  flex-grow: 1;
}

.green3 {
  background-color: green;
  height: 100px;
  flex-grow: 1;
}

.red4 {
  flex-basis: 100px;
  background-color: red;
  height: 100px;
  flex-grow: 1;
  flex-shrink: 0.5;
}
.blue4 {
  flex-basis: 100px;
  background-color: blue;
  height: 100px;
  flex-shrink: 0.5;
  flex-grow: 1;
}

.green4 {
  flex-basis: 100px;
  background-color: green;
  height: 100px;
  flex-shrink: 2;
  flex-grow: 1;
}

.red5 {
  width: 100%;
  background-color: red;
  height: 100px;
}
.blue5 {
  width: 100%;
  background-color: blue;
  height: 100px;
}

.green5 {
  flex-basis: 200px;
  background-color: green;
  height: 100px;
}
