body {
  margin: 0px 5%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.exercicio-10 {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  & div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: coral;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    & div {
      background-color: lightblue;
      height: 20px;
      width: 20px;
    }
  }
}

.exercicio-11 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    background-color: coral;
    height: 100px;
    min-width: 100px;
    
    & div {
      background-color: lightblue;
      height: 10px;
      width: 10px;
    }
  }
}